<h2><%= dashboard_title[role] %></h2>
<div class="display-flex flex-wrap desktop:grid-row dashboard-container flex-justify-center width-full">
    <% dashboard_cards_by_role[role].each do |card| %>
        <%= link_to(card[:href],
                class: "display-flex bg-primary-darker text-white flex-align-center desktop:grid-col " \
                "grid-gap-1 desktop:margin-x-1 margin-y-1 desktop:grid-col-5 text-no-underline",
                ) do %>
            <%= image_tag(
                "images/usa-icons/#{card[:image_path]}.svg",
                class: "usa-icon--size-7 icon-white margin-x-2 justify-self-center align-self-center",
                alt: card[:alt]
            )%>
            <div class="margin-right-2" >
                <h3 class="font-body-lg"><%= card[:title] %></h3>
                <h4 style="max-width: 250px;" class="text-normal"><%= card[:subtitle] %></h4>
            </div>    
        <% end %>    
    <% end %>    
</div>