<div id="<%= dom_id evaluation_form %>">
  <p>
    <strong>Title:</strong>
    <%= evaluation_form.title %>
  </p>

  <p>
    <strong>Instructions:</strong>
    <%= evaluation_form.instructions %>
  </p>

  <p>
    <strong>Phase ID:</strong>
    <%= evaluation_form.phase_id %>
  </p>

  <p>
    <strong>Comments required:</strong>
    <%= evaluation_form.comments_required %>
  </p>

  <p>
    <strong>Weighted scoring:</strong>
    <%= evaluation_form.weighted_scoring %>
  </p>

  <p>
    <strong>Closing date:</strong>
    <%= evaluation_form.closing_date %>
  </p>

  <p>
    <strong>Challenge:</strong>
    <%= evaluation_form.challenge_id %>
  </p>

</div>
