<%= form_with(model: evaluation_form) do |form| %>
  <% if evaluation_form.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(evaluation_form.errors.count, "error") %> prohibited this evaluation form from being saved:</h2>

      <ul>
        <% evaluation_form.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <ol class="usa-process-list">
    <li class="usa-process-list__item">
      <h4 class="usa-process-list__heading">Evaluation Information</h4>
      <p class="margin-top-05">
        Create an evaluation form title, assign it to your challenge and
        provide instructions that will be shared with your evaluators. 
      </p>
      <div>
        <%= form.label :title, style: "display: block" %>
        <%= form.text_field :title %>
      </div>

      <div>
        <%= form.label :challenge_phase, style: "display: block" %>
        <%= form.number_field :challenge_phase %>
      </div>

      <div>
        <%= form.label :challenge_id, style: "display: block" %>
        <%= form.text_field :challenge_id %>
      </div>

      <div>
        <%= form.label :instructions, style: "display: block" %>
        <%= form.text_field :instructions %>
      </div>
    </li>
    <li class="usa-process-list__item">
      <h4 class="usa-process-list__heading">Evaluation Criteria</h4>
      <p>
        Build your evaluation criteria and scoring options.
      </p>
      <div class="usa-checkbox">
        <%= form.check_box :comments_required, class: "usa-checkbox__input", id: "evaluation_form_comments_required" %>
        <label class="usa-checkbox__label" for="evaluation_form_comments_required">
          Require evaluators to provide comments on their scores. (optional)
          <%= image_tag 'help_outline.svg', alt: 'Help for comments required' %>
        </label>
      </div>

      <div>
        <fieldset class="usa-fieldset">
          <legend class="usa-legend usa-process-list__heading eval-scale-heading">
            Scale Type <span style="color: red;">*</span>
            <%= image_tag 'help_outline.svg', alt: 'Help for scale type' %>
          </legend>
          <div class="radio-group">
            <div class="usa-radio radio-item">
              <input class="usa-radio__input eval-radio-input" id="point_scale" type="radio" name="evaluation_form[weighted_scoring]" value="false" <%= 'checked' unless evaluation_form.weighted_scoring %>>
              <label class="usa-radio__label eval-radio-label" for="point_scale">Point Scale</label>
            </div>
            <div class="usa-radio radio-item">
              <input class="usa-radio__input eval-radio-input" id="weighted_scale" type="radio" name="evaluation_form[weighted_scoring]" value="true" <%= 'checked' if evaluation_form.weighted_scoring %>>
              <label class="usa-radio__label eval-radio-label" for="weighted_scale">Weighted Scale (%)</label>
            </div>
          </div>
        </fieldset>
      </div>
    </li>
    <li class="usa-process-list__item">
      <h4 class="usa-process-list__heading">Evaluation Period</h4>
      <p>
        Set the end date of your evaluation period.
        Your evaluation start date is the end date of your challenge.
      </p>
      <div>
        <%= form.label :closing_date, style: "display: block" %>
        <%= form.date_field :closing_date %>
      </div>
    </li>
  </ol>


  

  <div>
    <%= form.submit %>
  </div>
<% end %>
