<%= form_with(model: evaluation_form, data: { controller: "evaluation-form" }) do |form| %>

  <ol class="usa-process-list">
    <li class="usa-process-list__item">
      <h4 class="usa-process-list__heading">Evaluation Information</h4>
      <p class="margin-top-05">
        Create an evaluation form title, assign it to your challenge and
        provide instructions that will be shared with your evaluators. 
      </p>
      <div>
        <%= form.label :title, class: "usa-label" %>
        <%= form.text_field :title, class: "usa-input", data: {"action": "evaluation-form#validatePresence focusout->evaluation-form#validatePresence"} %>
        <for>
      </div>

      <%= form.hidden_field :challenge_phase, {data: { "evaluation-form-target": 'challengePhase'}} %>
      <%= form.hidden_field :challenge_id, {data: { "evaluation-form-target": 'challengeID'}} %>
      <%= inline_error(evaluation_form, :title) %>

      <label class="usa-label" for="challenge-select">Select a challenge</label>
      <div class="usa-hint">Choose the challenge this form will evaluate.</div>
      <div class="usa-combo-box">
        <select class="usa-select" name="challenge-select" id="challenge-select" data-action="evaluation-form#handleChallengeSelect">
          <% current_user.challenge_manager_challenges.each do |challenge| %>
            <% if challenge.is_multi_phase %>
              <%# in the future this should loop over the challenge's phases and render an option for each phase.
              right now we don't have a model for a challenge phase in the app. we need to decide either to include the phase
              objects or to just index on the challenge's number_of_phases property. The number_of_phases is not currently
              populated in our sample data so I'm unsure if we can rely on that in production.  %>
              <% challenge_phase = 1 %>
              <option value="<%= "#{challenge.id}.#{challenge_phase}.#{challenge.end_date.strftime("%m/%d/%Y")}" %>"><%= challenge.title %></option>
            <% else %>
              <option value="<%= "#{challenge.id}.1.#{challenge.end_date.strftime("%m/%d/%Y")}" %>"><%= challenge.title %></option>
            <% end %>
          <% end %>
        </select>
      </div>
      <%= inline_error(evaluation_form, :challenge_id) %>
      <%= inline_error(evaluation_form, :challenge_phase) %>

      <div class="usa-character-count">
        <div class="usa-form-group">
          <%= form.label :instructions, class: "usa-label" %>
          <%= form.text_area :instructions, class: "usa-textarea usa-character-count__field", maxlength: 3000, rows: "7", data: {"action": "evaluation-form#validatePresence focusout->evaluation-form#validatePresence"} %>
        </div>
        <span id="with-hint-textarea-info" class="usa-character-count__message">You can enter up to 3000 characters</span>
      </div>
      <%= inline_error(evaluation_form, :instructions) %>

    </li>
    <li class="usa-process-list__item">
      <h4 class="usa-process-list__heading">Evaluation Criteria</h4>
      <p>
        Create your evaluation criteria and scoring options.
      </p>
    </li>
    <li class="usa-process-list__item">
      <h4 class="usa-process-list__heading">Evaluation Period</h4>
      <p>
        Set the end date of your evaluation period.
        Your evaluation start date is the end date of your challenge.
      </p>
      <label>Evaluation Start Date:</label>
      <div class="usa-hint" data-evaluation-form-target="startDate">mm/dd/yyyy</div>
      <div class="usa-form-group">
        <label class="usa-label" id="evaluation_form_closing_date_label" for="evaluation_form_closing_date"
          >Evaluation End Date:</label
        >
        <div class="usa-hint" id="evaluation_form_closing_date_hint">mm/dd/yyyy</div>
        <div class="usa-date-picker">
          <input
            class="usa-input"
            id="evaluation_form_closing_date"
            name="evaluation_form[closing_date]"
            aria-labelledby="evaluation_form_closing_date_label"
            aria-describedby="evaluation_form_closing_date_hint"
            data-action="evaluation-form#validatePresence focusout->evaluation-form#validatePresence"
          />
        </div>
      </div>
      <%= inline_error(evaluation_form, :closing_date) %>
    </li>
  </ol>


  

  <div class="display-flex flex-wrap">
    <button type="submit" name="commit" class="mobile-lg:width-mobile usa-button font-body-2xs text-no-wrap mobile-lg:margin-left-2 mobile-lg:margin-bottom-4" style="background-color: #4d8055">
      <%= image_tag(
        "images/usa-icons/check_circle.svg",
        class: "usa-icon icon-white",
        alt: "evaluation forms"
      )%>
      Save
    </button>
    <div class="text-center width-full mobile-lg:width-auto margin-y-1 mobile-lg:margin-x-3">
      <%= link_to "Cancel", evaluation_forms_path %>
    </div>  
  </div>
<% end %>