<%= form_with(model: evaluation_form, data: { controller: "evaluation-form" }) do |form| %>

  <ol class="usa-process-list">
    <li class="usa-process-list__item">
      <h4 class="usa-process-list__heading">Evaluation Information</h4>
      <p class="margin-top-05">
        Create an evaluation form title, assign it to your challenge and
        provide instructions that will be shared with your evaluators. 
      </p>
      <div>
        <%= form.label :title, class: "usa-label" %>
        <%= form.text_field :title, maxlength: 150, class: "usa-input", data: {"action": "evaluation-form#validatePresence focusout->evaluation-form#validatePresence"} %>
        <for>
      </div>

      <%= inline_error(evaluation_form, :title) %>

      <label class="usa-label" for="challenge-select">Select a challenge</label>
      <div class="usa-hint">Choose the challenge this form will evaluate.</div>
      <div class="usa-combo-box">
        <select class="usa-select" name="challenge-select" id="challenge-select" data-action="evaluation-form#handleChallengeSelect">
          <% current_user.challenge_manager_challenges.each do |challenge| %>
            <% challenge.phases.each do |phase| %>
              <option value="<%= "#{challenge.id}.#{phase.id}.#{phase.end_date.strftime("%m/%d/%Y")}" %>"><%= challenge_phase_title(challenge, phase) %></option>
            <% end %>
          <% end %>
        </select>
      </div>
      
      <%= inline_error(evaluation_form, :challenge_id) %>
      <%= inline_error(evaluation_form, :phase_id) %>

      <%= form.hidden_field :phase_id, {data: { "evaluation-form-target": 'phaseID'}} %>
      <%= form.hidden_field :challenge_id, {data: { "evaluation-form-target": 'challengeID'}} %>

      <div class="usa-character-count">
        <div class="usa-form-group">
          <%= form.label :instructions, class: "usa-label" %>
          <%= form.text_area :instructions, class: "usa-textarea usa-character-count__field", maxlength: 3000, rows: "7", data: {"action": "evaluation-form#validatePresence focusout->evaluation-form#validatePresence"} %>
        </div>
        <span id="with-hint-textarea-info" class="usa-character-count__message">You can enter up to 3000 characters</span>
      </div>
      <%= inline_error(evaluation_form, :instructions) %>

    </li>
    <li class="usa-process-list__item">
      <h4 class="usa-process-list__heading">Evaluation Criteria</h4>
      <p>
        Build your evaluation criteria and scoring options.
      </p>
      <div class="usa-checkbox">
        <%= form.check_box :comments_required, class: "usa-checkbox__input", id: "evaluation_form_comments_required" %>
        <label class="usa-checkbox__label" for="evaluation_form_comments_required">
          Require evaluators to provide comments on their scores. (optional)
          <%= image_tag 'images/usa-icons/help_outline.svg', width: 16, height: 16, alt: 'Help for comments required' %>
        </label>
      </div>

      <div>
        <fieldset class="usa-fieldset margin-top-205">
          <legend class="usa-legend usa-process-list__heading font-sans-md text-bold">
            Scale Type <span style="color: red;">*</span>
            <%= image_tag 'images/usa-icons/help_outline.svg', width: 16, height: 16, alt: 'Help for scale type' %>
          </legend>
          <div class="display-flex flex-row">
            <div class="usa-radio margin-right-205">
              <input class="usa-radio__input" id="point_scale" type="radio" name="evaluation_form[weighted_scoring]" value="false" <%= 'checked' unless evaluation_form.weighted_scoring %>>
              <label class="usa-radio__label font-sans-xs" for="point_scale">Point Scale</label>
            </div>
            <div class="usa-radio">
              <input class="usa-radio__input" id="weighted_scale" type="radio" name="evaluation_form[weighted_scoring]" value="true" <%= 'checked' if evaluation_form.weighted_scoring %>>
              <label class="usa-radio__label font-sans-xs" for="weighted_scale">Weighted Scale (%)</label>
            </div>
          </div>
        </fieldset>
      </div>
    </li>
    <li class="usa-process-list__item">
      <h4 class="usa-process-list__heading">Evaluation Period</h4>
      <p>
        Set the end date of your evaluation period.
        Your evaluation start date is the end date of your challenge.
      </p>
      <label>Evaluation Start Date:</label>
      <div class="usa-hint" data-evaluation-form-target="startDate">mm/dd/yyyy</div>
      <div class="usa-form-group">
        <label class="usa-label" id="evaluation_form_closing_date_label" for="evaluation_form_closing_date"
          >Evaluation End Date:</label
        >
        <div class="usa-hint" id="evaluation_form_closing_date_hint">mm/dd/yyyy</div>
        <div data-evaluation-form-target="datePicker" class="usa-date-picker" data-default-value="<%= evaluation_form.closing_date %>" data-min-date="<%= if evaluation_form.challenge then evaluation_form.challenge.end_date end %>">
          <input
            class="usa-input"
            id="evaluation_form_closing_date"
            name="evaluation_form[closing_date]"
            aria-labelledby="evaluation_form_closing_date_label"
            aria-describedby="evaluation_form_closing_date_hint"
            data-action="evaluation-form#validatePresence focusout->evaluation-form#validatePresence"
          />
        </div>
      </div>
      <%= inline_error(evaluation_form, :closing_date) %>
    </li>
  </ol>


  

  <div class="display-flex flex-wrap">
    <button type="submit" name="commit" class="mobile-lg:width-mobile usa-button font-body-2xs text-no-wrap mobile-lg:margin-left-2 mobile-lg:margin-bottom-4" style="background-color: #4d8055">
      <%= image_tag(
        "images/usa-icons/check_circle.svg",
        class: "usa-icon icon-white",
        alt: "evaluation forms"
      )%>
      Save
    </button>
    <div class="text-center width-full mobile-lg:width-auto margin-y-1 mobile-lg:margin-x-3">
      <%= link_to "Cancel", evaluation_forms_path %>
    </div>  
  </div>
<% end %>