<p style="color: green"><%= notice %></p>

<%= render @evaluation_form %>

<div>
  <%= link_to "Edit this evaluation form", edit_evaluation_form_path(@evaluation_form) %> |
  <%= link_to "Back to evaluation forms", evaluation_forms_path %>

  <%= button_to "Destroy this evaluation form", @evaluation_form, method: :delete %>
</div>
