<!DOCTYPE html>
<html>
  <head>
    <title>RailsNew</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "styles" %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'uswds', async: true %>
    <%= javascript_include_tag 'uswds-init', async: true %>

    <% if logged_in? %>
      <script>
        window.appConfig = {
          sessionTimeoutMinutes: <%= ENV.fetch('SESSION_TIMEOUT_IN_MINUTES', 15).to_i.minutes %>
        }
      </script>

      <%= javascript_include_tag 'session_timeout' %>
    <% end %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <%= render "shared/flash" %>

    <%= yield %>

    <%= render "layouts/footer" %>
    <%= render "modals/renew_session" %>
  </body>
</html>
