<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RailsNew</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "styles" %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <% if logged_in? %>
      <script>
        window.appConfig = {
          sessionTimeoutMinutes: <%= SessionsController::SESSION_TIMEOUT_IN_MINUTES %>
        }
      </script>

      <%= javascript_include_tag 'session_timeout', "data-turbo-track": "reload", type: "module" %>
    <% end %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <% if logged_in? %>
      <%= render "layouts/utility_menu" %>
    <% end %>  
    <%= render "shared/flash" %>

    <main class="grid-container">
      <%= yield %>
    </main>

    <%= render "layouts/footer" %>
    <%= render "modals/renew_session" %>
    <%= javascript_include_tag 'uswds', async: true %>
    <%= javascript_include_tag 'uswds-init', async: true %>
  </body>
</html>
